
.container{
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin-top: 140px;
    width: 600px;
    background-color: #fff;
    padding-bottom: 30px;
    border-radius: 15px;
}

.headerL{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text{
    color: rgb(252, 106, 53);
    font-size: 48px;
    font-weight: 700;
    font-style: oblique;
}

.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: #eaeaea;;
    border-radius: 7px;
}

.input i{
    margin: 30px;
}

.big-icon {
    font-size: 30px;
    color: #f4a43b;
}

.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: orange;
    font-size: 19px;
}

.forgot-password{
    padding-left: 62px;
    margin-top: 27px;
    color: #797979;
    font-size: 18px;
}

.forgot-password span{
    color: orange;
    cursor: pointer;
}

.submit-container{
    display: flex;
    gap: 30px;
    margin: 60px auto;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: white;
    background: #FF904F;
    border-color: rgb(255, 159, 63);
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}



